.about-us {
  @include mobile-boxing;
  @include flex-center-center;
  padding: 3rem 1rem 1rem;

  .section-title {
    width:100%;
    text-transform: uppercase;
    font: $section-title-font;
    padding: 1rem 0;
    color: $section-title-text-color;
    text-shadow: 4px 4px 2px $section-title-shadow-color, -2px -2px 0px $section-title-shadow-color;
  }

  .section-paragraph {
    text-align: left;
    font: $section-paragraph-font;
    padding: 1rem 0;
  }

  @media (min-width: $media-tablet-size) {
    min-height: 400px;
    padding: 3rem 2rem 2rem;

    .section-title {
      text-align: left;
      font: $section-title-tablet-font;
      padding: 2rem 0rem 1rem;
    }

    .section-paragraph {
      font: $section-paragraph-tablet-font;
    }
  }

  @media (min-width: $media-desktop-size) {
    padding: 3rem 0 2rem;

    .about-us-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      .text-wrapper {
        flex: 2;
      }

      .about-us-fotos-wrapper {
        flex: 1;

        .about-us-foto {
          height: 100%;
          background: url(../images/pipes_03_600_400.jpg);
          background-size: cover;
          opacity: .8;
        }
      }
    }
  }
}