.contact {
  @include mobile-boxing;
  @include flex-center-center;
  flex-direction: column;
  padding: 1rem;
  background-color: $contact-bg-color;
  margin-bottom: $mobile-menu-height;

  .section-title {
    width: 100%;
    text-transform: uppercase;
    font: $section-title-font;
    letter-spacing: 3px;
    padding: 1rem 0;
    color: $contact-title-text-color;
    text-shadow: 4px 4px 2px $contact-title-shadow-color,
      -2px -2px 0px $contact-title-shadow-color;
  }

  .contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

    .contact-properties {
      text-align: right;
      width: 25%;

      p:first-of-type {
        height: 30px;
      }
    }

    .contact-values {
      text-align: left;
      width: 65%;
    }

    .contact-paragraph {
      margin-bottom: 5px;
      font: $mobile-contact-font;
      color: $contact-paragraph-text-color;

      a {
        text-decoration: none;
        font: inherit;
      }
    }
  }

  @media (min-width: $media-tablet-size) {
    min-height: 200px;
    padding: 2rem;

    .section-title {
      width: 100%;
      text-align: left;
      font: $section-title-tablet-font;
      padding: 0 0 2rem;
    }

    .contact-wrapper {
      justify-content: space-around;
      .contact-properties {
        text-align: right;
        width: 15%;

        p:first-of-type {
          height: 38px;
        }
      }

      .contact-values {
        text-align: left;
        width: 75%;
      }

      .contact-paragraph {
        margin-bottom: 5px;
        font: $tablet-contact-font;

        a {
          text-decoration: none;
          font: inherit;
        }
      }
    }
  }
}
