.customers {
  @extend .products;

  flex-direction: column;

  .customers-wrapper {
    @include flex-evenly-center;

    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    .customers-item {
      display: flex;
      margin-bottom: 1rem;

      &-logo {
        width: $customers-item-logo-width;
        max-width: 140px;
        height: $customers-item-logo-width;
        max-height: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;

        &-img {
          width: 100%;
          filter: grayscale(100%);
          opacity: 0.6;
        }

        &:hover img {
          filter: none;
          opacity: 0.9;
        }
      }

      .customer-description-wrapper {
        display: none;
      }
    }
  }

  @media (min-width: $media-tablet-size) {
    .customers-wrapper {
      justify-content: space-between;
      .customers-item {
        width: 170px;
        justify-content: center;
        align-items: center;
      }
    }
  }

  @media (min-width: $media-desktop-size) {
    .section-title {
      text-align: center;
    }

    .customers-wrapper {
      .customers-item {
        position: relative;
        width: 300px;
        height: 300px;
        justify-content: center;
        align-items: center;

        &-logo {
          max-width: 220px;
          max-height: 220px;
        }
      }
    }
  }
}
