.hero {
  @include mobile-boxing;
  @include flex-center-center;
  height: 80vw;
  max-height: 675px;
  background: url(../images/helmets_hero_1280_842.jpg);

  .hero-title,
  .hero-paragraph {
    text-align: center;
    color: white;
    margin: 16px 0;
  }

  .hero-title {
    font: $hero-title-font;
  }

  .hero-paragraph {
    font: $hero-paragraph-font;
  }

  @media (min-width: $media-tablet-size) {
    max-height: 400px;

    .hero-title {
      font: $hero-title-tablet-font;
    }

    .hero-paragraph {
      font: $hero-paragraph-tablet-font;
    }
  }

  @media (min-width: $media-desktop-size) {
    max-height: 500px;

    .hero-title {
      font: $hero-title-desktop-font;
    }

    .hero-paragraph {
      font: $hero-paragraph-desktop-font;
    }
  }
}