.portfolio {
  @extend .about-us;

  flex-direction: column;
  display: block;
  padding: 3rem 0;
  margin: 0;

  .potfolio-wrapper {
    margin: 0;
    padding: 0;
  }

  .section-title {
    padding: 1rem 0 1rem 1rem;
  }

  .portfolio-items-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    .portfolio-item {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .foto {
        position: relative;
        width: $portfolio-item-mobile-width;
        max-width: 414px;
        height: $portfolio-item-mobile-height;
        max-height: 300px;

        .portfolio-foto {
          width: 100%;
          height: inherit;
          max-height: inherit;
        }

        &-description-wrapper {
          top: 0;
          opacity: 0;
          position: absolute;
          width: 100%;
          height: $portfolio-item-mobile-height;
          max-height: 300px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-start;
          padding: 0 1rem 1rem;

          .foto-description {
            font: $portfolio-desription-font;
            text-align: left;
            color: white;
          }
        }

        &:hover {
          filter: grayscale(100%);

          .foto-description-wrapper {
            opacity: 1;
          }
        }
      }
    }
  }

  @media (min-width: $media-tablet-size) {
    padding: 2rem 0 3rem;

    .section-title {
      text-align: left;
      font: $section-title-tablet-font;
      padding: 1rem 2rem 2rem;
    }

    .portfolio-items-wrapper {
      .portfolio-item {
        .foto {
          width: $portfolio-item-tablet-width;
          height: $portfolio-item-tablet-height;
          max-width: $portfolio-item-tablet-width;
          max-height: $portfolio-item-tablet-height;

          &-description-wrapper {
            height: $portfolio-item-tablet-height;
            max-height: $portfolio-item-tablet-height;

            .foto-description {
              font: $portfolio-desription-tablet-font;
            }
          }
        }
      }
    }
  }

  @media (min-width: $media-desktop-size) {
    margin: 0 auto;

    .section-title {
      padding: 2rem;
    }

    .portfolio-items-wrapper {
      .portfolio-item {
        .foto {
          width: $portfolio-item-tablet-width;
          height: $portfolio-item-tablet-height;
          max-width: $portfolio-item-desktop-max-width;
          max-height: $portfolio-item-desktop-max-height;

          &-description-wrapper {
            height: $portfolio-item-tablet-height;
            max-height: $portfolio-item-desktop-max-height;

            .foto-description {
              font: $portfolio-desription-tablet-font;
            }
          }
        }
      }
    }
  }
}
