.products {
  @extend .about-us;

  .section-list {
    text-align: left;
    font: $section-paragraph-font;
    padding: 1rem;

    &--item {
      margin-bottom: 0.5rem;
    }
  }

  @media (min-width: $media-tablet-size) {
    justify-content: left;
    padding: 3rem 2rem 2rem;

    .section-list {
      font: $section-paragraph-tablet-font;
      line-height: 140%;
      margin-left: .5rem;
    }
  }
}