@import "_variables.scss";
@import "_mixins.scss";
@import "_logo.scss";
@import "_mobile-menu.scss";
@import "_hero.scss";
@import "_about-us.scss";
@import "_products.scss";
@import "_team.scss";
@import "_customers.scss";
@import "_portfolio.scss";
@import "_contact.scss";

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
  transition: 0.5s;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 0.5s;
}

html {
  scroll-behavior: smooth;
}

.display-none {
  display: none;
}

body {
  width: 100vw;
  background-color: $body-bg-color;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  width: 100%;
  height: $logo-height;
}