@import "_variables.scss";
@import "_mixins.scss";
@import "_logo.scss";
@import "_mobile-menu.scss";
@import "_kontakt.scss";

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap');

*, ::after, ::before {
  box-sizing: border-box;
  transition: .5s;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: .5s;
}

html {
  scroll-behavior: smooth;
}

.display-none {
  display: none;
}

body {
  width: 100vw;
  background-color: $body-bg-color;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  width: 100%;
  height: $logo-height;
}

.hero {
  @include mobile-boxing;
  @include flex-center-center;
  height: 80vw;
  max-height: 675px;
  background: url(../images/hero_01_w_768.jpg);

  .hero-title, .hero-paragraph {
    text-align: center;
    color: white;
    margin: 16px 0;
  }

  .hero-title{
    font: $hero-title-font;
  }

  .hero-paragraph {
    font: $hero-paragraph-font;
  }
}

.about-us {
  @include mobile-boxing;
  @include flex-center-center;
  padding: 1rem;
  background-color: $hero-bg-color;

  .section-title {
    text-align: center;
    font: $section-title-font;
    padding: 1rem 0;
  }

  .section-paragraph {
    text-align: left;
    font: $section-paragraph-font;
    padding: 1rem 0;
  }
}

.products {
  @extend .about-us;

  background-color: whitesmoke;

  .section-list {
    text-align: left;
    font: $section-paragraph-font;
    padding: 1rem;

    &--item {
      margin-bottom: .5rem;
    }
  }
}

.team {
  @extend .products;

  background-color: lightcyan;
  flex-direction: column;

  .team-wrapper {
    @include flex-evenly-center;

    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    .team-member {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;

      .foto {
        width: $team-member-mobile-width;
        max-width: 240px;
        height: $team-member-mobile-width;
        max-height: 240px;
        border-radius: 50%;
        background: url('../images/foto1.jpg') center;
        margin-bottom: 1rem;

        &-description {
          font: $foto-description-font;
          text-align: center;
        }
      }
    }
  }
}

.customers {
  @extend .products;

  flex-direction: column;

  .customers-wrapper {
    @include flex-evenly-center;

    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    .customers-item {
      display: flex;

      &-logo {
        width: $customers-item-logo-width;
        max-width: 140px;
        height: $customers-item-logo-width;
        max-height: 140px;
        display: flex;
        justify-content: center;
        align-items: center;

        &-img {
          width: 100%;
          filter: grayscale(100%);
          opacity: .6;

          &:hover {
            filter: none;
            opacity: .9;
          }
        }
      }
    }
  }
}

.portfolio {
  @extend .team;

  background-color: lightcyan;
  flex-direction: column;

  .team-wrapper {
    @include flex-evenly-center;

    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    .team-member {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;

      .foto {
        position: relative;
        width: $portfolio-item-mobile-width;
        max-width: 270px;
        height: $portfolio-item-mobile-width;
        max-height: 270px;
        border-radius: 0;
        background: url('../images/foto1.jpg') center;
        margin-bottom: 1rem;

        &-description-wrapper {
          opacity: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          @include flex-center-center;
          flex-direction: column;

          .foto-description {
            font: $portfolio-desription-font;
            text-align: center;
            color: white;
          }
        }

        &:hover {
          filter: grayscale(100%);

          .foto-description-wrapper {
            opacity: 1;
          }
        }
      }
    }
  }
}
