@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap");
.logo {
  font: 600 26px "Montserrat", sans-serif;
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(251, 250, 251, 0.9);
  z-index: 100;
}

.logo__item {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__item p {
  color: #fff;
  font: 600 26px "Montserrat", sans-serif;
  margin: 0 0 5px 0;
}

.logo__item--1 {
  background-color: #7bd5f5;
}

.logo__item--2 {
  background-color: #787ff6;
}

.logo__item--3 {
  background-color: #1f2f98;
}

.logo__item--4 {
  background-color: #1ca7ec;
}

.logo__item--5 {
  background-color: #4adede;
}

.menu {
  position: fixed;
  bottom: 0;
  z-index: 10;
}

.menu__list {
  width: 100vw;
  list-style: none;
  padding-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: .95;
  font: 500 0.8rem "Montserrat", sans-serif;
}

.menu__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  line-height: 40px;
  background-color: #ffffff;
  color: #015249;
  text-transform: uppercase;
  cursor: pointer;
}

.menu__list-item:not(:first-child) {
  border-top: 1px solid #77c9d4;
}

.menu__list-item:hover:not(:first-child) {
  background-color: #77c9d4;
  color: #ffffff;
}

.menu__list-item .hamburger-menu {
  width: 20px;
  height: 30px;
  background: #ffffff;
  border: none;
  padding: 0;
  outline: #ffffff;
}

.menu__list-item .hamburger-menu-line {
  position: relative;
  display: block;
  height: 2px;
  width: 100%;
  background: #015249;
}

.menu__list-item .hamburger-menu-line:before {
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
  left: 0;
  top: 7px;
  background: #015249;
}

.menu__list-item .hamburger-menu-line:after {
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 7px;
  background: #015249;
}

.menu__list-item .hamburger-menu:focus {
  color: #015249;
}

.menu.mobile-hidden {
  bottom: -240px;
}

.contact {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  background-color: #57bc90;
  margin-bottom: 50px;
}

.contact .section-title {
  text-align: center;
  font: 600 1.8rem "Montserrat", sans-serif;
  padding: 1rem 0;
}

.contact .contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.contact .contact-wrapper .contact-properties {
  text-align: right;
  width: 25%;
}

.contact .contact-wrapper .contact-properties p:first-of-type {
  height: 30px;
}

.contact .contact-wrapper .contact-values {
  text-align: left;
  width: 65%;
}

.contact .contact-wrapper .contact-paragraph {
  margin-bottom: 5px;
  font: 400 0.8rem "Montserrat", sans-serif;
}

.contact .contact-wrapper .contact-paragraph a {
  text-decoration: none;
  font: inherit;
}

.contact .section-paragraph {
  text-align: left;
  font: 400 1rem "Montserrat", sans-serif;
  padding: 1rem 0;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html {
  scroll-behavior: smooth;
}

.display-none {
  display: none;
}

body {
  width: 100vw;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  width: 100%;
  height: 60px;
}

.hero {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vw;
  max-height: 675px;
  background: url(../images/hero_01_w_768.jpg);
}

.hero .hero-title,
.hero .hero-paragraph {
  text-align: center;
  color: white;
  margin: 16px 0;
}

.hero .hero-title {
  font: 800 2.2rem "Montserrat", sans-serif;
}

.hero .hero-paragraph {
  font: 500 1.6rem "Montserrat", sans-serif;
}

.about-us, .products, .customers, .team, .portfolio {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  background-color: #57bc90;
}

.about-us .section-title, .products .section-title, .customers .section-title, .team .section-title, .portfolio .section-title {
  text-align: center;
  font: 600 1.8rem "Montserrat", sans-serif;
  padding: 1rem 0;
}

.about-us .section-paragraph, .products .section-paragraph, .customers .section-paragraph, .team .section-paragraph, .portfolio .section-paragraph {
  text-align: left;
  font: 400 1rem "Montserrat", sans-serif;
  padding: 1rem 0;
}

.products, .customers {
  background-color: whitesmoke;
}

.products .section-list, .customers .section-list {
  text-align: left;
  font: 400 1rem "Montserrat", sans-serif;
  padding: 1rem;
}

.products .section-list--item, .customers .section-list--item {
  margin-bottom: 0.5rem;
}

.team {
  background-color: lightcyan;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team .team-wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.team .team-wrapper .team-member {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.team .team-wrapper .team-member .foto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc((100vw - 32px) * 0.9);
  max-width: 320px;
  height: calc((100vw - 32px) * 0.9);
  max-height: 320px;
  border-radius: 50%;
  margin-bottom: 1rem;
  overflow: hidden;
}

.team .team-wrapper .team-member .foto .team-member-foto {
  height: 100%;
}

.team .team-wrapper .team-member .foto-description {
  font: 400 1rem "Montserrat", sans-serif;
  text-align: center;
}

.customers {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.customers .customers-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.customers .customers-wrapper .customers-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.customers .customers-wrapper .customers-item-logo {
  width: calc((100vw - 32px) * 0.4);
  max-width: 140px;
  height: calc((100vw - 32px) * 0.4);
  max-height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customers .customers-wrapper .customers-item-logo-img {
  width: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.6;
}

.customers .customers-wrapper .customers-item-logo-img:hover {
  -webkit-filter: none;
          filter: none;
  opacity: 0.9;
}

.portfolio {
  background-color: lightcyan;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: block;
  padding: 0;
  margin: 0;
}

.portfolio .potfolio-wrapper {
  margin: 0;
  padding: 0;
}

.portfolio .portfolio-items-wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.portfolio .portfolio-items-wrapper .portfolio-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio .portfolio-items-wrapper .portfolio-item .foto {
  position: relative;
  width: 100vw;
  max-width: 414px;
  height: calc(100vw / 4 * 3);
  max-height: 300px;
}

.portfolio .portfolio-items-wrapper .portfolio-item .foto .portfolio-foto {
  width: 100%;
  height: inherit;
  max-height: inherit;
}

.portfolio .portfolio-items-wrapper .portfolio-item .foto-description-wrapper {
  top: 0;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: calc(100vw / 4 * 3);
  max-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 1rem 1rem;
}

.portfolio .portfolio-items-wrapper .portfolio-item .foto-description-wrapper .foto-description {
  font: 500 1.2rem "Montserrat", sans-serif;
  text-align: left;
  color: white;
}

.portfolio .portfolio-items-wrapper .portfolio-item .foto:hover {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.portfolio .portfolio-items-wrapper .portfolio-item .foto:hover .foto-description-wrapper {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */